<div class="container">
<form #form='ngForm' (ngSubmit)='printdata()'>
<div class='form-group'>
      <label>First Name</label>
      <input type='text' id='firstName' class='form-control' name='firstName' placeholder='First Name' [(ngModel)]='empData.firstName'>
</div>

<div class='form-group'>
      <label>Last Name</label>
      <input type='text' id='lastName'  class='form-control' name='lastName'  placeholder='Last Name' [(ngModel)]='empData.lastName'>
</div>

<div class='form-group'>
      <label>Email</label>
      <input type='email' id='userEmail' class='form-control' name='userEmail' placeholder='Email' [(ngModel)]='empData.userEmail'>
</div>

<div class='form-group'>
      <label>Contact No</label>
      <input type='text' id='contactNo' class='form-control' name='contactNo' placeholder='ContactNo' [(ngModel)]='empData.contactNo'>
</div>

<div class='form-group'>
      <label>Address</label>
      <textarea id='userAddress' class='form-control' name='userAddress' placeholder='Address' [(ngModel)]='empData.userAddress'></textarea>
 </div>

 <div class='form-group'>
      <label>User Name</label>
      <input type='text' id='userName' class='form-control' name='userName' placeholder='User Name' [(ngModel)]='empData.userName'>
</div>

<div class='form-group'>
      <label>Password</label>
      <input type='password' id='userPass' class='form-control' name='userPass' [(ngModel)]='empData.userPass'>
</div>

<label>Gender</label>
<div class='radio'>
      <label>
        <input type='radio' name='gender' value='male' [(ngModel)]='empData.gender'> Male
      </label>
</div>

<div class='radio'>
      <label>
        <input type='radio' name='gender' value='female' [(ngModel)]='empData.gender'> Female
      </label>
</div>

<div class='form-group'>
      <label>Qualification</label>
      <select class='form-control' name='qualification' [(ngModel)]='empData.qualification'>
        <option *ngFor='let qualification of qualifications' value='{{qualification}}'>
          {{qualification}}
        </option>
      </select>
</div>

<div class='form-group'>
      <label>Experience</label>
      <select class='form-control' name='experience' [(ngModel)]='empData.experience'>
        <option *ngFor='let experience of experiences' value='{{experience}}'>
          {{experience}}
        </option>
      </select>
</div>

<label>Languages</label>
    <div class='checkbox' *ngFor='let language of empData.languages' >
      <label>
        <input type='checkbox' [name]='language.Name' value='{{language}}' [(ngModel)]='language.IsEnabled'>{{language.Name}}
      </label>
</div>
<button type='submit' id='submitButton'>Submit</button>
</form>
</div>